.form {
    
    &__search {
        border-bottom: 1px solid var(--search-boder-bottom);
        padding-bottom: 3px;
        position: relative;
    }

    &__input {
      background-color: transparent;
      border: none;
      font-size: .9em;
      padding: 10px 2%;
      width: 96%;

      &::placeholder {
        color: var(--search-placeholder-color);
        opacity: 1;
      }
      
      &::-ms-input-placeholder {
        color: var(--search-placeholder-color);
      }
    }

    &__submit {
      background-color: transparent;
      border: none;
      color: var(--search-placeholder-color);
      font-size: 1.2em;
      position: absolute;
      right: 0;
      transform: rotate(-45deg);
    }
}
