.search {
    margin-top: .5em;
    position: relative;
    
    &__list-results {
        background-color: var(--search-bg);
        box-shadow: 0 10px 15px rgba(0,0,0,.5);
        border-radius: 0 0 5px 5px;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
        padding: 2em 1em;
        box-sizing: border-box;
        z-index: 2;
    }

    &__result {
        display: block;
        list-style: none;
        
        &:last-child .search__link {
            border-bottom: none;
        }
    }

    &__profile {
        @extend .comment__item-profile;
        height: 50px;
    }

    &__image-profile {
        @extend .comment__profile;
    }

    &__full_name {
        font-size: 1.1em;
        flex-grow: 1;
        margin: 0 .5em;
        color: var(--search-text);
    }

    &__link {
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        padding: .75em 0;

        &-follow {
            @extend .card__author-follow;
            color: var(--search-text);
            margin: 0 0 0 .15em;
    
            &:hover {
                background-color: var(--search-text);
                border-color: var(--search-text);
                color: var(--search-bg);
            }
        }
    }
}